absl-py==0.8.0
adodbapi==2.6.0.7
affine==2.3.0
alabaster==0.7.12
altair==3.2.0
altair-widgets==0.2.2
altgraph==0.16.1
ansiwrap==0.8.4
appdirs==1.4.3
asciitree==0.3.3
asteval==0.9.15
astor==0.8.0
astroid==2.2.5
astroML==0.4.post1
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
backports-abc==0.5
baresql==0.7.6
bcolz==1.2.1
-e git+https://github.com/Python-simulation/Beampy.git@d09dd3e0df4a1818b47538f3fd5a89b1bccf6b7d#egg=beampy
beautifulsoup4==4.8.0
black==19.3b0
bleach==3.1.0
blosc==1.8.1
bloscpack==0.16.0
bokeh==1.3.4
Bottleneck==1.2.1
bqplot==0.11.8
branca==0.3.1
brewer2mpl==1.4.1
Brotli==1.0.7
Cartopy==0.17.0
certifi==2019.9.11
cffi==1.12.3
cftime==1.0.3.4
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.2.1
clrmagic==0.0.1a2
colorama==0.4.1
colorcet==2.0.2
comtypes==1.1.7
cvxopt==1.2.3
cvxpy==1.0.25
cx-Freeze==6.0
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.4.0
dask-searchcv==0.2.0
datashader==0.7.0
datashape==0.5.2
db.py==0.5.3
decorator==4.4.0
defusedxml==0.6.0
Deprecated==1.2.6
descartes==1.1.0
dill==0.3.0
distributed==2.4.0
docopt==0.6.2
docrepr==0.1.1
docutils==0.15.2
ecos==2.0.7.post1
edward==1.3.5
emcee==2.2.1
emoji==0.5.4
entrypoints==0.3
fast-histogram==0.7
fasteners==0.15
fastparquet==0.3.2
feather-format==0.4.0
Fiona==1.8.6
Flask==1.1.1
formlayout==2.0.0a0
fsspec==0.4.4
future==0.17.0
fuzzywuzzy==0.17.0
gast==0.2.2
GDAL==3.0.1
geographiclib==1.49
geopandas==0.6.0rc1
geopy==1.20.0
geoviews==1.6.3
gmpy2==2.0.8
google-pasta==0.1.7
greenlet==0.4.15
grpcio==1.23.0
guidata==1.7.6
guiqwt==3.0.3
h5py==2.10.0
HeapDict==1.0.0
holoviews==1.12.5
html5lib==1.0.1
husl==4.0.3
hvplot==0.4.0
hypothesis==4.35.0
idlex==1.18
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
imagesize==1.1.0
imbalanced-learn==0.5.0
importlib-metadata==0.23
intake==0.5.3
ipydatawidgets==4.0.1
ipykernel==5.1.2
ipyleaflet==0.11.2
ipympl==0.3.3
ipyparallel==6.2.4
ipython==7.8.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
julia==0.4.1
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter-server==0.1.1
jupyter-sphinx==0.2.1
jupyterlab==1.1.4
jupyterlab-launcher==0.13.1
jupyterlab-pygments==0.1.0
jupyterlab-server==1.0.6
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-vis==0.4.1
keyring==19.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
llvmlite==0.29.0
lmfit==0.9.14
locket==0.2.0
loky==2.6.0
lxml==4.4.1
Markdown==3.1.1
markdown2==2.3.8
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mercantile==1.1.2
metakernel==0.24.3
mistune==0.8.4
mizani==0.6.0
mkl-service==2.3.0
mlxtend==0.17.0
mock==3.0.5
monotonic==1.5
more-itertools==7.2.0
moviepy==1.0.0
mpl-scatter-density==0.6
mpld3==0.3
mpldatacursor==0.6.2
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
multiprocess==0.70.8
munch==2.3.2
mypy==0.720
mypy-extensions==0.4.1
mysql-connector-python==8.0.16
nbconvert==5.6.0
nbconvert-reportlab==0.2
nbformat==4.4.0
netCDF4==1.5.2
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numcodecs==0.6.3
numdifftools==0.9.39
numexpr==2.7.0
numpy==1.16.5+mkl
numpydoc==0.9.1
oct2py==5.0.4
octave-kernel==0.31.0
osqp==0.5.0
packaging==19.2
palettable==3.2.0
pandas==0.25.1
pandas-datareader==0.7.4
pandocfilters==1.4.2
panel==0.6.3
papermill==1.1.0
param==1.9.1
parambokeh==0.2.3
paramnb==2.0.4
parso==0.5.1
partd==1.0.0
passlib==1.7.1
patsy==0.5.1
pdfrw==0.4
pdvega==0.2.1.dev0
pefile==2019.4.18
pep8==1.7.1
pexpect==4.7.0+dummy
pg8000==1.13.1
pickleshare==0.7.5
Pillow==6.1.0
pipenv==2018.11.26
pkginfo==1.5.0.1
plotnine==0.6.0
pluggy==0.12.0
portalocker==1.5.1
ppci==0.5.6
prettytable==0.7.2
proglog==0.1.9
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.6.3
ptpython==2.0.4
PuLP==1.6.10
py==1.8.0
pyarrow==0.14.0
PyAudio==0.2.11
pybars3==0.9.6
pybind11==2.3.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pyct==0.4.6
pyepsg==0.4.0
pyflakes==2.1.1
pyflux==0.4.17
pygame==1.9.6
pygbm==0.1.0
Pygments==2.4.2
pyhdf==0.10.1
PyInstaller==3.5
pylint==2.3.1
pymc==2.3.7
PyMeta3==0.5.1
pymongo==3.9.0
pyodbc==4.0.27
PyOpenGL==3.1.3b2
pypandoc==1.3.2
pyparsing==2.4.2
pypiwin32==223+dummy
pyproj==2.2.2
PyQt5==5.13.1
PyQt5-sip==4.19.19
pyqt5-tools==5.13.1.1.6rc0
pyqtgraph==0.11.0.dev0
PyQtWebEngine==5.13.1
pyrsistent==0.15.4
pyserial==3.4
pyshp==2.1.0
pystache==0.5.4
pytest==5.1.2
python-dateutil==2.8.0
python-dotenv==0.10.3
python-hdf4==0.10.0+dummy
python-Levenshtein==0.12.0
python-snappy==0.5.4
pythonnet==2.4.0
PythonQwt==0.5.6.dev0
pythreejs==2.1.1
pytz==2019.2
pyviz-comms==0.7.2
PyWavelets==1.0.3
pywin32==225
pywin32-ctypes==0.2.0
pywinpty==0.5.5
pywinusb==0.4.2
PyYAML==5.1.2
pyzmq==18.1.0
pyzo==4.9.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
quantecon==0.4.5
rasterio==1.0.27
readme-renderer==24.0
redis==3.3.8
regex==2019.8.19
reportlab==3.5.23
requests==2.22.0
requests-toolbelt==0.9.1
rise==5.5.1
rope==0.14.0
rpy2==2.9.5
Rtree==0.8.3
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
Rx==3.0.1
scikit-fuzzy==0.4.1
scikit-image==0.15.0
scikit-learn==0.21.3
scikit-optimize==0.5.2
scilab2py==0.6.2
scipy==1.3.1
scs==2.1.1.post2
seaborn==0.9.1.dev0
Send2Trash==1.5.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.16.0
simpy==3.0.11
six==1.12.0
slack-export-viewer==1.0.0
snakeviz==2.0.1
snowballstemmer==1.9.1
snuggs==1.4.6
sortedcontainers==2.1.0
sounddevice==0.3.13
soupsieve==1.9.3
Sphinx==2.2.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.8
sqlite-bro==0.9.1
sqlparse==0.3.0
statsmodels==0.10.1
streamz==0.5.0
supersmoother==0.4
swifter==0.292
sympy==1.4
tables==3.5.2
tblib==1.4.0
tenacity==5.1.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-probability==0.7.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
textwrap3==0.9.2
thrift==0.11.0
toml==0.10.0
toolz==0.10.0
torch==1.2.0+cpu
torchvision==0.4.0+cpu
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.2
traittypes==0.2.1
twine==3.1.1
twitter==1.17.1
typed-ast==1.4.0
typing-extensions==3.7.4
tzlocal==1.5.1
uncertainties==3.1.2
urllib3==1.25.5
vega==2.6.0
vega-datasets==0.7.0
virtualenv==16.7.9
virtualenv-clone==0.5.3
ViTables==3.0.0
voila==0.1.11
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
winpython==2.1.20190921
winrt==1.0.19128.1
wordcloud==1.5.0
wrapt==1.11.2
xarray==0.13.0
xlrd==1.2.0
XlsxWriter==1.2.0
xlwings==0.15.9
zarr==2.3.2
zict==1.0.0
zipp==0.5.2
